@font-face{font-family:'tabler-icons';font-style:normal;font-weight:400;src:url('/static/tabler-icons.woff2') format('woff2')}
.ti{font-family:'tabler-icons'!important;font-weight:400;font-style:normal;line-height:1;-webkit-font-smoothing:antialiased;display:inline-block;speak:none}
.ti-antenna:before{content:"\f094"}
.ti-book-2:before{content:"\efc5"}
.ti-books:before{content:"\eff2"}
.ti-brand-docker:before{content:"\edca"}
.ti-brand-instagram:before{content:"\ec20"}
.ti-calculator:before{content:"\eb80"}
.ti-calendar:before{content:"\ea53"}
.ti-calendar-event:before{content:"\ea52"}
.ti-chart-line:before{content:"\ea5c"}
.ti-clock:before{content:"\ea70"}
.ti-cloud:before{content:"\ea76"}
.ti-currency-euro:before{content:"\eb85"}
.ti-database-export:before{content:"\ee6e"}
.ti-device-gamepad-2:before{content:"\f1d2"}
.ti-device-tv:before{content:"\ea8d"}
.ti-file-text:before{content:"\eaa2"}
.ti-git-fork:before{content:"\eb8f"}
.ti-heartbeat:before{content:"\ef92"}
.ti-keyboard:before{content:"\ebd6"}
.ti-logs:before{content:"\fea7"}
.ti-moon:before{content:"\eaf8"}
.ti-music:before{content:"\eafc"}
.ti-news:before{content:"\eafd"}
.ti-package:before{content:"\eaff"}
.ti-plant-2:before{content:"\ed7e"}
.ti-radio:before{content:"\ef2d"}
.ti-receipt:before{content:"\edfd"}
.ti-ripple:before{content:"\ed82"}
.ti-satellite:before{content:"\eed3"}
.ti-server:before{content:"\eb1f"}
.ti-shield:before{content:"\eb24"}
.ti-shopping-cart:before{content:"\eb25"}
.ti-snowflake:before{content:"\ec0b"}
.ti-sparkles:before{content:"\f6d7"}
.ti-tools-kitchen-2:before{content:"\eeff"}
.ti-train:before{content:"\ed96"}
.ti-world:before{content:"\eb54"}
